<template>
  <h1>Home page</h1>

  <button @click="count++">count is: {{ count }}</button>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'PageOne',
  props: {},
  setup: () => {
    const count = ref(0)
    return { count }
  }
});
</script>

<style scoped>

</style>
